body{
    overflow:auto;
}


.animation1{
    animation:animationRectangle1;
    animation-duration:1s;
    text-align:center;
    border-radius:25px;
    animation-timing-function: ease-in-out;
}
.site-main{
    margin-left:2%
}
.article-evenement{
    display: flex;
    margin-bottom:2%;
}
.article-evenement:hover{
    //display:inline-block; width:15%;margin-left:2%;margin-bottom:2%;margin-right:2%
    animation: articleColor;
    animation-duration: 1s;
    animation-fill-mode: forwards;
   
}

@keyframes articleColor{
    from{
        background-color:#d8d8d8;
    }
    to{
        background-color:#aeaeae;
    }
}
.divConference {
    background-color:white !important;
}

.divConference h4{
    position:absolute; 
    left:12%;
}
.divConference p{
    display:inline-block;
    margin-left:2%;
    width:35%;
    height:180px;
    padding-top:3%;
}

.divConference img{
    float:left;
    clear: both;
}

.oFlex{
    display:flex;
    width:100%;
    height:auto;
    justify-content: space-around;
}
.oPost{
    display:flex;
    align-items:center;
    flex-direction:column;
}
.session{
    display: inline;
}
.nbsession{
    color:red;
}
.nbdomaine{
    color:yellow;
}
.lienArticle:hover{
    color:$couleur_bleu;
}
.lienArticle:focus{
    color:$couleur_jaune;
}
.lienArticle:active{
    color:$couleur_vert;
}


@keyframes animationRectangle1{
    from{
        transform:translateX(-1500px);
        opacity:0;
        background-color:transparent;
    }

    to{
        transform:translateX(0px);
        opacity:1;
        
    }
}