.oGrid{
    display:grid;
   
    grid-template-columns: repeat(3,1fr);
    .titreEvent{
        border:1px solid black;
        background-color: red;
    }
}
.container {
    background-color: red;
}

.octobre{
    border:1px solid black;
    background-color: yellow;
}
.septembre{
    border:1px solid black;
    background-color: cyan  ;
}
.novembre{
    border:1px solid black;
    background-color: red;
}
.session1{
    background-color: lighten($couleur_tableau_rouge, 0%);
}
.session2{
    background-color: lighten($couleur_tableau_rouge, 2%);
}
.session3{
    background-color: lighten($couleur_tableau_rouge, 4%);
}
.session4{
    background-color: lighten($couleur_tableau_rouge, 6%);
}
.session5{
    background-color: lighten($couleur_tableau_rouge, 8%);
}
.session6{
    background-color: lighten($couleur_tableau_rouge, 10%);
}
