.oGrid{
    display:grid;
   text-align:center;
    grid-template-columns: repeat(3,1fr);
    /*.titreEvent{
        color : black;
        //border:1px solid black;
        //background-color: red;
    }*/
    .TitreEvenement{
        color:black;
        font-weight: 300;
    }
    .lienEvent{
        border-bottom: dashed 3px black;
        color:black ;
        text-decoration: none;
    }
    .lienEvent:hover{

        border: solid 3px black;
       
     
        color: black;
        text-decoration:none
    }
}
.titreArticleEvent{
    font-size:1.7rem;
    color:$couleurBleuHeader;
}
.container {
    background-color: $couleurBleuHeader;
}
.septembre{
    border:1px solid black;
    background-color: $couleurGrisClair  ;
}
.octobre{
    border:1px solid black;
    background-color: #b1b1b1;
}

.novembre{
    border:1px solid black;
    background-color:$couleurGrisClair ;
}









/* POUR L'EXAMEN*/
/*
.session1{
    background-color: lighten($couleur_tableau_rouge, 0%);
}
.session2{
    background-color: lighten($couleur_tableau_rouge, 2%);
}
.session3{
    background-color: lighten($couleur_tableau_rouge, 4%);
}
.session4{
    background-color: lighten($couleur_tableau_rouge, 6%);
}
.session5{
    background-color: lighten($couleur_tableau_rouge, 8%);
}
.session6{
    background-color: lighten($couleur_tableau_rouge, 10%);
}
*/