/*.navbar-light .navbar-nav .nav-link{
    color:red;
}*/
/*
li a:hover{
    //color:rgb(52, 214, 255) !important;
    transition:all 0.5s;
    letter-spacing: 1px;
    
    &:after {
        content: ""; 
        display: block; 
        margin: 0 auto; 
        width: 95%; 
         
        transition:0.5s all;
        padding-top:1%;
        border-bottom: 1px solid rgb(255, 255, 255); *//* This creates the border. Replace black with whatever color you want. */
    /*}
}*/
/*
li a{
    transition:all 0.5s;
    padding:0 !important;

    &:after{
        content:"";
        display:block;
        margin:0 auto;
        width:0%;
        border-bottom:1px solid white;
        padding-top:1%;
        transition:0.5s all;
    }
}*/
div#main-menu{
    background: grey;
    color:red;  
}
li{
    color: red;
}

