/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

.wp-block-cgb-block-my-block  {
  background: $red;
  border: 0.8rem solid $rouge;
  color: $black;
  margin: 0 auto;
  max-width: 740px;
  padding: 2rem;
}
